<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Welcome Page</title>
</head>
<body>
  <h1>Welcome to Ali's Movie Recommendations</h1>
  <img id="logo-homepage" src="../static/movies.jpg" width="500" height="500">
  <p>Rate on a scale 0-5 the following movie:</p>
  <form action="/results">
        <label>Avatar</label> :<input class="input-placeholder" type="text" name="Avatar (2009)" placeholder="0-5"><br>
        <label>Round Midnight</label>:<input class="input-placeholder" type="text" name="Round Midnight (1986)" placeholder="0-5"><br>
        <input id="submit-button" type="submit" value="submit">
    </form>
    <p>Get recommendation <a href="/results"> here</a>
</p>
</body>
</html>